html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.banner {
  background-image: url(./assets/bluesky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: rgba(200, 200, 200, 0.3);
  display: block;
  height: 100vh;
}

.navbar-container {
  height: 90px;
  background-color: rgba(100, 100, 100, 1);
  width: 100%;
  position: fixed;
  z-index: 100;
}

.navbar-image {
  height: 10vh;
  width: 10vh;
  position: absolute;
  border-radius: 50%;
  border: 0.1em solid white;
  margin: 0.4em 0em 0em 0.4em;
}

.links-flexbox__cardstop {
  opacity: 0;
  margin-right: 5px;
}

.navbar-image:hover logo-flexbox > div{
  opacity: 0.7;
}

.logo-flexbox {
  position: relative;
  display: flex;
  left: 90px;
  top: 20px;
  align-items: center;
}

.logo-container {
  width: 200px;
}

.links-flexbox__cards {
  opacity: 0.7;
}

.links-flexbox > div:hover {
  opacity: 1;
}

.logo-container:hover .logo-flexbox > div {
  opacity: 0.7;
}

.navbar-slogan {
  font-size: 10vw;
  margin: 0vw;
  padding-top: 200px;
  padding-left: 50px;
}

.navbar-list_items {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  opacity: 1;
}

.navbarmenu-plushamburger {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar-weather {
  position: absolute;
  top: 55px;
  right: 20px;
}

.navbar-weather__items {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  color: white;
}

#demo {
  display: none;
}

.navbar-circle__arrow {
  width: 50%;
  height: auto;
  position: absolute;
  left: 24%;
  bottom: 5%;
}

.portfolio {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.portfolio-title {
  font-size: 8vw;
  position: relative;
  margin-bottom: 0vh;
  margin-top: 5vh;
  margin-left: 10vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /*background-color: rgba(200, 200, 200, 1);*/
  background-color: #d6d6d6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cdaeff' fill-opacity='0.58'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.about-title {
  text-align: center;
  height: 7vw;
  font-size: 10vw;
  margin-left: 10vw;
}

.about-image {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: 0.25em solid white;
}

@media only screen and (max-width: 600px) {
  .about-image {
    position: absolute;
    left: -10000px;
  }
}

.about-imageblockquote {
  display: flex;
  font-size: 3vw;
  height: 60vw;
}

.links-container {
  background-color: rgba(100, 100, 100, 1);
  height: 60px;
}

.links {
  height: 60px;
  display: absolute;
  top: 50px;
}

.links-flexbox {
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  min-width: 20vw;
  min-height: 20vw;
  display: flex;
  overflow-x: auto;
  padding-right: 2em
}

.card::-webkit-scrollbar {
  display: none;
}

.card--content {
  background-color: #e74c3c;
  min-width: 200px;
  min-height: 200px;
  margin-right: 20px;
  display: inline;
  list-style-type: none;
}

.card--content:last-child {
  margin-right: 2em;
}

.card-container {
  margin-right: 2em;
  margin-left: 0em;
}

.card--content {
  position: relative;
}

.card--content-words {
  height: 20%;
  width: 100%;
  background-color: grey;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.backtotop {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 1;
  bottom: 10px;
  right: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.backtotop-arrow {
  width: 50px;
  height: 50px;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.alter {
  opacity: 0;
}
